.Chips {
  position: relative;
  display: block;
  margin: 30px auto;
  width: 100px;
  height: 100px;
  border: 13px dashed white;
  border-radius: 50%;
  line-height: 100px;
  text-align: center;
  font-family: Helvetica;
  color: white;
}

.Chips:before {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: -16px;
  border-radius: 50%;
  background: red;
  content: '';
}

.Chips:after {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 5px;
  border: 3px dashed white;
  border-radius: 50%;
  background: rgba(0,0,0,0.4);
  content: '';
}

.Pots .Chips:before {
  content: "Pot: ";
}

.Seat .Chips {
  margin-top: 5px;
}

.Seat .Chips:before {
  content: "Bet: ";
}
